[submodule "tools/llm/mini-sglang/mini-sglang"]
	path = tools/llm/mini-sglang/mini-sglang
	url = https://github.com/sgl-project/mini-sglang.git
[submodule "tools/comfy/ComfyUI-Docker"]
	path = tools/comfy/ComfyUI-Docker
	url = https://github.com/YanWenKun/ComfyUI-Docker
[submodule "tools/llm/llamacpp/source/llama.cpp"]
	path = tools/llm/llamacpp/source/llama.cpp
	url = https://github.com/ggml-org/llama.cpp
[submodule "tools/llm/vllm/source/vllm"]
	path = tools/llm/vllm/source/vllm
	url = https://github.com/vllm-project/vllm
