[project]
name = "agent"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "accelerate>=1.12.0",
    "pydantic>=2.12.5",
    "torch>=2.10.0",
    "transformers>=5.2.0",
]
