[Unit]
Description=Enable WoL
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/ethtool -s enp70s0 wol g
ExecStart=/usr/sbin/ethtool -s enp68s0 wol g

[Install]
WantedBy=multi-user.target
