---

# Reasoning:
#   - Qwen/Qwen3-14B-AWQ
# Instruct:
#   - Qwen/Qwen2.5-14B-Instruct-AWQ
#   - Qwen/Qwen2.5-Coder-14B-Instruct-AWQ
#   - TheBloke/CodeLlama-13B-Instruct-AWQ
#   - deepseek-ai/deepseek-coder-6.7b-instruct
# Coding:
#   - Qwen/Qwen2.5-Coder-7B
#   - TheBloke/CodeLlama-13B-AWQ
#   - TheBloke/CodeLlama-13B-Python-AWQ

services:
  llamacpp:
    image: ghcr.io/ggerganov/llama.cpp:server-cuda
    container_name: llamacpp-server
    runtime: nvidia
    environment:
      - CUDA_VISIBLE_DEVICES=0,1
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    ports:
      - "8000:8000"
    volumes:
      - ./models:/models
      - ~/.cache/huggingface:/root/.cache/huggingface
    command: >
      -m /models/qwen2.5-32b-instruct-q4_k_m.gguf
      -c 8192
      -ngl 99
      -ts 2
      --host 0.0.0.0
      --port 8000
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 2
              capabilities: [gpu]
    restart: unless-stopped

  vllm:
    image: vllm/vllm-openai:latest
    container_name: vllm
    ports:
      - "8000:8000"
    volumes:
      - ~/.cache/huggingface:/root/.cache/huggingface
    environment:
      # - HUGGING_FACE_HUB_TOKEN=your_token_here
      - CUDA_VISIBLE_DEVICES=0,1
    ipc: host
    shm_size: 32g
    command: >
      --model Qwen/Qwen2.5-32B-Instruct-AWQ
      --host 0.0.0.0
      --port 8000
      --dtype bfloat16
      --tensor-parallel-size 2 
      --gpu-memory-utilization 0.90
      --max-model-len 10000 
      --distributed-executor-backend mp
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 2
              capabilities: [gpu]
    restart: unless-stopped
    networks:
      - ai-network

        #n8n:
        #  image: docker.n8n.io/n8nio/n8n
        #  ports:
        #    - "5678:5678"
        #  environment:
        #    - N8N_SECURE_COOKIE=false
        #  restart: unless-stopped
        #  networks:
        #    - ai-network

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - "3000:8080"
    volumes:
      - open-webui:/app/backend/data
    environment:
      #- OPENAI_API_BASE_URLS=http://llamacpp:8080/v1
      - OPENAI_API_BASE_URLS=http://vllm:8000/v1
      - OPENAI_API_KEYS=dummy
      - ENABLE_OLLAMA_API=false
    depends_on:
      - vllm
    restart: unless-stopped
    networks:
      - ai-network

volumes:
  open-webui:
    driver: local

networks:
  ai-network:
    driver: bridge

