# Configuration for watchdog daemon

watchdog-device = {{ watchdog_device }}
max-load-1 = {{ watchdog_max_load_1 }}
min-memory = {{ watchdog_min_memory }}
interval = {{ watchdog_interval }}
realtime = {{ watchdog_realtime }}
priority = {{ watchdog_priority }}
