version: '3.8'

services:
  mini-sglang:
    build: .
    shm_size: '32g'
    ipc: host
    ports:
      - '30000:30000'
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ['gpu']
              count: 1
    command:
      - --model=Qwen/Qwen3-0.6B
      - --tp=1
      - --host=0.0.0.0
      - --port=30000

  open-webui:
    image: ghcr.io/open-webui/open-webui
    depends_on:
      - mini-sglang
    ports:
      - '3001:8080'
    environment:
      - OPENAI_API_BASE_URL=http://mini-sglang:30000/v1
    restart: unless-stopped
